<a href="https://colab.research.google.com/github/TJ0917/bioinfomatics/blob/main/03_%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##자동주문 머신 프로그램

c1_price=3000
c2_price=5000
c3_price=5000
c4_price=10000

menu=f'''[피자 자동주문 머신 메뉴]
--------------------
기본 도우는 5000원 입니다.
-페퍼로니 추가: {c1_price}원
-소고기 추가: {c2_price}원
-새우 추가: {c3_price}원
-모듬 토핑 추가: {c4_price}원
-------------------
원하시는 피자의 토핑을 입력하세요.
'''
print(menu)

#c1=int(input('페퍼로니 추가 개수:'))
#값이 안 들어올때 오류 안나게 하려면
if input('페퍼로니 추가 개수:'):
  c1 = int(c1)
else:
  c1 = 0
#1줄로 줄이면 c1 = int(c1)  if input('페퍼로니 추가 개수:') else c1 = 0

c2=int(input('소고기 추가 개수:'))
c3=int(input('새우 추가 개수:'))
c4=int(input('모듬 토핑 추가 개수:'))
total=5000+c1_price*c1+c2_price*c2+c3_price*c3+c4_price*c4

print(f'주문하신 피자 총액은 {total}원 입니다.')

money=int(input('돈을 넣어주세요:'))

if total>money:
  print(f'{total-money}원이 부족합니다. 돈을 다시 넣어주세요.')
else:
  print(f'거스름돈은 {abs(total-money)}원 입니다. 맛있게 드세요.') #abs함수 = 절대값

In [ ]:
##range() 함수 사용

#= for 값 in range (0,7,1):
#= for 값 in range (0,7)
for 값 in range(7):
  print(f'{값} 안녕하세요. 파이썬 반복 중 입니다.')

print('-'*10)

for 값 in range(2,6,3):
  print(f'{값} 안녕하세요. 파이썬 반복 중 입니다.')

0 안녕하세요. 파이썬 반복 중 입니다.
1 안녕하세요. 파이썬 반복 중 입니다.
2 안녕하세요. 파이썬 반복 중 입니다.
3 안녕하세요. 파이썬 반복 중 입니다.
4 안녕하세요. 파이썬 반복 중 입니다.
5 안녕하세요. 파이썬 반복 중 입니다.
6 안녕하세요. 파이썬 반복 중 입니다.
----------
2 안녕하세요. 파이썬 반복 중 입니다.
5 안녕하세요. 파이썬 반복 중 입니다.

In [ ]:
#range()함수를 이용해 정수 나열 리스트 만들기

print(list(range(3,20,5)))

[3, 8, 13, 18]

In [ ]:
#list 사용해서 반복하기

for num in (1,2,'3','사',{5,6,7}):
  print(f'{num} 파이썬 애플파이 레몬파이')

for 번호 in 'PYTHON':
  print(f'{번호} 파이썬 파이썬')

1 파이썬 애플파이 레몬파이
2 파이썬 애플파이 레몬파이
3 파이썬 애플파이 레몬파이
사 파이썬 애플파이 레몬파이
{5, 6, 7} 파이썬 애플파이 레몬파이
P 파이썬 파이썬
Y 파이썬 파이썬
T 파이썬 파이썬
H 파이썬 파이썬
O 파이썬 파이썬
N 파이썬 파이썬

In [ ]:
#변수를 사용하지 않으려면 _ 사용

for _ in '12345':
  print(f'반가워요')

for _ in range (7):
  print(f'사과')

반가워요
반가워요
반가워요
반가워요
반가워요
사과
사과
사과
사과
사과
사과
사과

In [ ]:
# 1~100까지 합 구하기

hap = 0
for i in range(1,101,1):
  hap = hap+i

print(f'1~100까지 정수의 합은:{hap}')

1~100까지 정수의 합은:5050

In [ ]:
#sum 함수 사용하기

sum(list(range(1,101,1)))

5050

In [ ]:
#합 구하기

a = [13,32,65,47,86,34,56,87,38,22]
hap = 0
for i in a: hap+=i
print(f'리스트 {a}의 모든 요소의 합은 {hap}')

#sum()/len()
print(f'{a}의 합은 {sum(a)}')
print(f'{a}의 갯수는 {len(a)}')

#max()/min()
print(f'{a}에서 가장 큰 수는 {max(a)}')
print(f'{a}에서 가장 작은 {min(a)}')

#평균 구하기 (avg 함수는 없음)
print(f'{a}의 평균은 {sum(a)/len(a)}')

리스트 [13, 32, 65, 47, 86, 34, 56, 87, 38, 22]의 모든 요소의 합은 480
[13, 32, 65, 47, 86, 34, 56, 87, 38, 22]의 합은 480
[13, 32, 65, 47, 86, 34, 56, 87, 38, 22]의 갯수는 10
[13, 32, 65, 47, 86, 34, 56, 87, 38, 22]에서 가장 큰 수는 87
[13, 32, 65, 47, 86, 34, 56, 87, 38, 22]에서 가장 작은 13
[13, 32, 65, 47, 86, 34, 56, 87, 38, 22]의 평균은 48.0

In [ ]:
#1~n까지 합 구하기

n=int(input('합계를 구할 숫자:'))
hap = 0
for i in range(1,n+1,1):
  hap = hap+i
print(f'1~{n}까지 정수의 합은:{hap}')

n = int(input('합계를 구할 숫자 입력 :'))
total = sum(list(range(1, n + 1)))
print(f'1 ~ {n} 까지의 합은 : {total}')

합계를 구할 숫자:50
1~50까지 정수의 합은:1275
합계를 구할 숫자 입력 :50
1 ~ 50 까지의 합은 : 1275

In [ ]:
#1+n까지 합 구하기, 짝수 제외

n=int(input('합계를 구할 숫자:'))
hap = 0
for i in range(1,n+1,2):
  hap = hap+i
print(f'1~{n}까지 짝수를 제외한 정수의 합은:{hap}')

n=int(input('합계를 구할 숫자:'))
hap = 0
for i in range(1,n+1,1):
  if i%2 !=0: #짝수가 아니다
    hap += i #hap = hap+i
print(f'1~{n}까지 짝수를 제외한 정수의 합은:{hap}')

합계를 구할 숫자:100
1~100까지 짝수를 제외한 정수의 합은:2500
합계를 구할 숫자:100
1~100까지 짝수를 제외한 정수의 합은:2500

In [ ]:
##괄호 체크 프로그램 만들기

a_list=list(input('괄호 문장을 입력하세요:'))
print(a_list)
total=0 #괄호의 합
for p in a_list:
  if p == '(':
    total += 1
  elif p == ')':
    total -= 1
  if total < 0:
    break

if total == 0 :
  print('결과 :True')
else:
  print('결과 :False')

괄호 문장을 입력하세요:(())((()())))
['(', '(', ')', ')', '(', '(', '(', ')', '(', ')', ')', ')', ')']
결과 :False

In [ ]:
#구구단 출력하기

n=int(input('몇단을 출력할까요?:'))
for i in range(1,10,1):
  print(f'{n} X {i} = {n*i:>2}') #:>2 = 2자리로 표현하라는 뜻

몇단을 출력할까요?:12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108

In [ ]:
#end 넣는법

for i in range(5):
  print(f'{i}', end=' ')

0 1 2 3 4

In [ ]:
for i in range(5):
  for k in range (3):
    print(f'{i}:{k}', end=' ')
  print()

0:0 0:1 0:2
1:0 1:1 1:2
2:0 2:1 2:2
3:0 3:1 3:2
4:0 4:1 4:2

In [ ]:
#2~9 구구단 출력하기
for i in range(1,10):
  for k in range (2,10):
    print(f'{k}x{i}={i*k:>2}', end=', ')
  print()

2x1= 2, 3x1= 3, 4x1= 4, 5x1= 5, 6x1= 6, 7x1= 7, 8x1= 8, 9x1= 9,
2x2= 4, 3x2= 6, 4x2= 8, 5x2=10, 6x2=12, 7x2=14, 8x2=16, 9x2=18,
2x3= 6, 3x3= 9, 4x3=12, 5x3=15, 6x3=18, 7x3=21, 8x3=24, 9x3=27,
2x4= 8, 3x4=12, 4x4=16, 5x4=20, 6x4=24, 7x4=28, 8x4=32, 9x4=36,
2x5=10, 3x5=15, 4x5=20, 5x5=25, 6x5=30, 7x5=35, 8x5=40, 9x5=45,
2x6=12, 3x6=18, 4x6=24, 5x6=30, 6x6=36, 7x6=42, 8x6=48, 9x6=54,
2x7=14, 3x7=21, 4x7=28, 5x7=35, 6x7=42, 7x7=49, 8x7=56, 9x7=63,
2x8=16, 3x8=24, 4x8=32, 5x8=40, 6x8=48, 7x8=56, 8x8=64, 9x8=72,
2x9=18, 3x9=27, 4x9=36, 5x9=45, 6x9=54, 7x9=63, 8x9=72, 9x9=81,

In [ ]:
for i in range(2,10):
  print(f'# {i}단 ', end=' ')
# print()  # '\n'
print('\n'+'-'*60)

for i in range(1,10):
  for k in range(2,10):
    print(f'{k}x{i}={i*k:>2}', end=' ')
  print()

# 2단  # 3단  # 4단  # 5단  # 6단  # 7단  # 8단  # 9단
------------------------------------------------------------
2x1= 2 3x1= 3 4x1= 4 5x1= 5 6x1= 6 7x1= 7 8x1= 8 9x1= 9
2x2= 4 3x2= 6 4x2= 8 5x2=10 6x2=12 7x2=14 8x2=16 9x2=18
2x3= 6 3x3= 9 4x3=12 5x3=15 6x3=18 7x3=21 8x3=24 9x3=27
2x4= 8 3x4=12 4x4=16 5x4=20 6x4=24 7x4=28 8x4=32 9x4=36
2x5=10 3x5=15 4x5=20 5x5=25 6x5=30 7x5=35 8x5=40 9x5=45
2x6=12 3x6=18 4x6=24 5x6=30 6x6=36 7x6=42 8x6=48 9x6=54
2x7=14 3x7=21 4x7=28 5x7=35 6x7=42 7x7=49 8x7=56 9x7=63
2x8=16 3x8=24 4x8=32 5x8=40 6x8=48 7x8=56 8x8=64 9x8=72
2x9=18 3x9=27 4x9=36 5x9=45 6x9=54 7x9=63 8x9=72 9x9=81

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [137]:
##난수(Random Number)

import random

#임의의 정수
print(random.randint(1,20)) #1이상, 20이하 정수
print(random.randrange(1,20,2)) #1이상, 20미만 정수, 2 간격

#임의의 실수
print(random.random())
print(random.uniform(1,15))

#섞기
a=[1,2,3,4,5,6,7,8,9,10]
print(a)
random.shuffle(a)
print(a)

#리스트 요소들 중 선택
print(random.choice(a)) #1개 선택하기
print(random.sample(a,2)) #개수 지정해서 선택하기

#ex)로또 번호 생성기
print(f'로또번호 출력기: ',random.sample(range(1,46),6))
#정렬하기
print(f'로또번호 출력기: ',sorted(random.sample(range(1,46),6)))

4
3
0.3081862091841028
11.696914112717986
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 9, 7, 2, 4, 5, 8, 3, 10, 6]
4
[5, 7]
로또번호 출력기:  [10, 44, 19, 42, 13, 28]
로또번호 출력기:  [4, 7, 12, 15, 36, 40]

In [165]:
##주사위 비교 프로그램

print('주사위를 5번 던져서 비교하는 프로그램입니다.')

for n in range (5):
  print()
  print(f'-----{n+1}번째 시도입니다.')
  a=random.randint(1,6)
  b=random.randint(1,6)

  print(f'A 결과: [{a}], B 결과:[{b}]')
  if a>b:
    print('A가 이겼습니다.')
  elif a==b:
      print('A와 B가 비겼습니다.')
  else:
      print('B가 이겼습니다.')

주사위를 5번 던져서 비교하는 프로그램입니다.

-----1번째 시도입니다.
A 결과: [6], B 결과:[6]
A와 B가 비겼습니다.

-----2번째 시도입니다.
A 결과: [1], B 결과:[6]
B가 이겼습니다.

-----3번째 시도입니다.
A 결과: [5], B 결과:[5]
A와 B가 비겼습니다.

-----4번째 시도입니다.
A 결과: [1], B 결과:[2]
B가 이겼습니다.

-----5번째 시도입니다.
A 결과: [6], B 결과:[6]
A와 B가 비겼습니다.

In [190]:
#주사위 100번 던져서 숫자 카운팅하기

import random

d1,d2,d3,d4,d5,d6=0,0,0,0,0,0

for i in range(100):
  num = random.randint(1,6)
  if num ==1: d1+=1
  if num ==2: d2+=1
  if num ==3: d3+=1
  if num ==4: d4+=1
  if num ==5: d5+=1
  if num ==6: d6+=1

print(f'주사위 숫자별 개수: D1[{d1}],D2[{d2}],D3[{d3}],D4[{d4}],D5[{d5}],D6[{d6}] ')

주사위 숫자별 개수: D1[16],D2[24],D3[17],D4[17],D5[11],D6[15]

In [198]:
import random

dice = [0,0,0,0,0,0]
for i in range(10):
  num = random.randint(1,6)
  dice[num-1]=dice[num-1]+1
  print(f'[{i+1}]회 시도: 나온 수 ({num}), 주사위:{dice}')

[1]회 시도: 나온 수 (3), 주사위:[0, 0, 1, 0, 0, 0]
[2]회 시도: 나온 수 (6), 주사위:[0, 0, 1, 0, 0, 1]
[3]회 시도: 나온 수 (5), 주사위:[0, 0, 1, 0, 1, 1]
[4]회 시도: 나온 수 (3), 주사위:[0, 0, 2, 0, 1, 1]
[5]회 시도: 나온 수 (3), 주사위:[0, 0, 3, 0, 1, 1]
[6]회 시도: 나온 수 (1), 주사위:[1, 0, 3, 0, 1, 1]
[7]회 시도: 나온 수 (6), 주사위:[1, 0, 3, 0, 1, 2]
[8]회 시도: 나온 수 (5), 주사위:[1, 0, 3, 0, 2, 2]
[9]회 시도: 나온 수 (4), 주사위:[1, 0, 3, 1, 2, 2]
[10]회 시도: 나온 수 (3), 주사위:[1, 0, 4, 1, 2, 2]

In [207]:
##중복값 처리 안한 코드

import random

dice = [0,0,0,0,0,0]
for i in range(20):
  num = random.randint(1,6)
  dice[num-1]=dice[num-1]+1

print(f'주사위 숫자의 나온 횟수: {dice}')
print(f'가장 많이 나온 횟수: {max(dice)}, 가장 많이 나온 눈금: {dice.index(max(dice))+1}')

주사위 숫자의 나온 횟수: [3, 1, 2, 6, 3, 5]
가장 많이 나온 횟수: 6, 가장 많이 나온 눈금: 4

In [215]:
##나무 찍어 넘기기 프로그램

t=0
while t<10:
  t+=1
  print(f'나무를 {t}번 찍었습니다.')
  if t==10:
    break
    print('나무를 베었습니다!')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.

In [214]:
##나무 찍어 넘기기 프로그램

s=int(input(f'나무가 버티는 횟수:'))

t=0
while t<s:
  t+=1
  print(f'나무를 {t}번 찍었습니다.')
  if t==s:
    print('나무를 베었습니다!')

나무가 버티는 횟수:5
나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 베었습니다!

In [220]:
prompt='''
  1.Add, 2.Del, 3.Modify, 4.Quit
  Enter number: '''

num = ''
while True:
  num=input(prompt)
  if num=='4':break
print('Program Finished')

  1.Add, 2.Del, 3.Modify, 4.Quit
  Enter number: 1

  1.Add, 2.Del, 3.Modify, 4.Quit
  Enter number: 2

  1.Add, 2.Del, 3.Modify, 4.Quit
  Enter number: 4
Program Finished

In [238]:
coffee1_price = 2500
coffee2_price = 3000
coffee3_price = 3000
menu = f'''[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  {coffee1_price}원
- 카페라떼:    {coffee2_price}원
- 카푸치노:    {coffee3_price}원
------------------------
원하시는 커피종류와 잔수를 입력하세요!
'''
print(menu)
coffee1 = int(input('아메리카노 몇잔: '))
coffee2 = int(input('카페라떼   몇잔: '))
coffee3 = int(input('카푸치노   몇잔: '))
total = coffee1_price*coffee1 + coffee2_price*coffee2 + coffee3_price*coffee3
print(f'주문하신 총 가격은 {total}원 입니다.')

while True:
  money = int(input('돈을 입력해주세요: '))
  change=total-money
  total=change
  if change>0:
    print(f'{change}원이 부족합니다. 돈을 더 넣어주세요')
    print('-'*25)
  else:
    print(f'거스름돈은 {abs(change)}원 입니다. 커피 맛있게 드세요~')
    break

[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  2500원
- 카페라떼:    3000원
- 카푸치노:    3000원
------------------------
원하시는 커피종류와 잔수를 입력하세요!

아메리카노 몇잔: 1
카페라떼   몇잔: 2
카푸치노   몇잔: 3
주문하신 총 가격은 17500원 입니다.
돈을 입력해주세요: 1000
16500원이 부족합니다. 돈을 더 넣어주세요
-------------------------
돈을 입력해주세요: 5000
11500원이 부족합니다. 돈을 더 넣어주세요
-------------------------
돈을 입력해주세요: 1000
10500원이 부족합니다. 돈을 더 넣어주세요
-------------------------
돈을 입력해주세요: 10000
500원이 부족합니다. 돈을 더 넣어주세요
-------------------------
돈을 입력해주세요: 1500
거스름돈은 1000원 입니다. 커피 맛있게 드세요~